---
- Development:
    - Homelab:
        - icon: mdi-server
          href: http://192.168.15.29:9090
          description: Access to Jarmos's Homelab

    - GitHub:
        - icon: si-github
          href: https://github.com
          description: Write, share and collaborate with other developers online

- Social:
    - Reddit:
        - icon: si-reddit
          href: https://reddit.com/
          description: The front page of the internet
    - Facebook:
        - icon: si-facebook
          href: https://fb.com
          description: Make friends and chat with them online

- Entertainment:
    - YouTube:
        - icon: si-youtube
          href: https://youtube.com
          description: My alternative entertainment solution to the television

    - AniList:
        - icon: si-anilist
          href: https://anilist.com
          description: Keep track of your anime watchlist, reviews and more
