- Download Clients:
    - Transmission:
        icon: transmission
        href: http://{{ ansible_host }}:9091/transmission/web
        description: The Free & Open-Source torrent client
        widget:
            type: transmission
            url: http://{{ ansible_host }}:9091
            rpcUrl: /transmission/

- Media:
    - Jellyfin:
        icon: jellyfin
        href: http://{{ ansible_host }}:8096
        description: Access a self-hosted PVR (and an alternative to Netflix)
        widget:
            type: jellyfin
            url: http://{{ ansible_host }}:8096
            // TODO: Secure the API key using Ansible Vault instead
            key: 42673ab99b4b453ea3e01798bc6462c8
            enableBlocks: true
            enableNowPlaying: true
            enableUser: true
            showEpisodeNumber: true
            expandOneStreamToTwoRows: true
