title: "{{ homepage_title | default('Homepage') }}"
theme: "{{ homepage_theme | default('dark') }}"
description: 'The homepage for my personal homelab!'
background:
    image: https://images.unsplash.com/photo-1732761611203-4833fe631a67
    blur: md
    opacity: 50
favicon: https://jarmos.dev/favicon.svg
color: slate
disableUpdateCheck: true
headerStyle: clean
