title: "{{ homepage_title | default('Homepage') }}"
theme: "{{ homepage_theme | default('dark') }}"
description: 'The homepage for my personal homelab!'
background:
    image: https://images.unsplash.com/photo-1743653537429-a94889a6fd47
    blur: sm
    opacity: 75
favicon: https://jarmos.dev/favicon.svg
color: slate
disableUpdateCheck: true
headerStyle: clean
