- openmeteo:
    label: Agartala, Tripura
    latitude: 23.826403
    longitude: 91.281883
    timezone: Asia/Kolkata
    units: metric
    cache: 5

- search:
    provider:
        - google
        - duckduckgo
    focus: true
    showSearchSuggestions: true
    target: _blank

- datetime:
    text_size: xl
    format:
      dateStyle: long
      timeStyle: short
      hourCycle: h23
